# Core Python libraries
pandas
numpy
matplotlib
Pillow

# Streamlit and extensions
streamlit
streamlit-option-menu

# Machine Learning and NLP libraries
scikit-learn
nltk

# Deep Learning
torch
torchvision

# File handling
pickle-mixin

